@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RIDIBatang";
  src: url("/fonts/RIDIBatang.otf") format("opentype");
}

body {
  font-family: "RIDIBatang", sans-serif;
}
